.chat-card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #E6F7F1; /* Light greenish background for chat window */
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #103900; /* Dark green background for chat header */
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-chat-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.chat-message {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-psychologist-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex: 1;
}