.editar-perfil-container {
    background-color: #E6F7F1; /* Cor de fundo para o formulário */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #103900; /* Cor do título */
  }
  
  .btn-editar-perfil {
    background-color: #06BA63; /* Cor do botão */
    border-color: #06BA63;
  }
  
  .btn-editar-perfil:hover {
    background-color: #4CAFB0; /* Cor do botão ao passar o mouse */
    border-color: #4CAFB0;
  }